service audio_parameter_service /system_ext/bin/audio_parameter_service.samsung_sm7125
    oneshot
    disabled

on boot
    setprop vendor.calls.parameter_state 0

on property:vendor.calls.slot_id1=1 && property:vendor.calls.parameter_state=0
    stop audioserver
    start audioserver
    start audio_parameter_service

on property:vendor.calls.slot_id1=0 && property:vendor.calls.parameter_state=1
    setprop vendor.calls.parameter_state 0
    stop audioserver
    start audioserver
