<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.hardware.media"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-sdk
        android:targetSdkVersion="30"/>

    <application
        android:label="SamsungAudio"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BluetoothStateReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.action.LE_AUDIO_CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.action.LE_AUDIO_ACTIVE_DEVICE_CHANGED" />
                <action android:name="android.bluetooth.hearingaid.profile.action.ACTIVE_DEVICE_CHANGED" />
                <action android:name="android.bluetooth.hearingaid.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.ACTIVE_DEVICE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.AUDIO_STATE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".SamsungAudioService"
                 android:permission="SamsungAudioService">
        </service>
    </application>
</manifest>
